.container{
    margin: 30px auto 0 auto;
    padding-bottom: 1px;
    width: 30vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 100px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 10px;
    background-color: #182b3a;
    background-image: linear-gradient(315deg, #182b3a 0%, #20a4f3 74%);
    
    color: white;
}
.display{
    width: 100%;
    height: 3vw;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    font-size: 3vw;
    text-align: right;
}
.display2{
    font-size: 2.5vw;
    text-align: left;
    position: absolute;
    margin: 0 0 0 5px;
}

.buttons{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 3vw;
    margin: 5vw 5px 5px 5px;
}
.button{
    border: 1px solid rgba(0, 0, 0, 0.212);
    cursor: pointer;
    border-radius: 100px;
    margin: 3px;
}
.button:hover{
    background-color: black;
    color: white;
}
.button:active{
    transform: scale(0.97);
}
.igual{
    background-color: rgb(23, 194, 114);
}
.igual:hover{
    background-color: rgb(10, 160, 90);
}
.c{
    background-color: rgb(209, 26, 26);
}
.c:hover{
    background-color: rgb(161, 4, 4);
}
.delete{
    background-color: rgb(52, 202, 202);
}
.delete:hover{
    background-color: rgb(36, 177, 177);
}
